---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "minima/syntax-highlighting";

.excerpt:hover {
  opacity: 0.5;
  transition: 0.5s;


  a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
      color: darken($brand-color, 15%);
    }
  }
}

.excerpt {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  margin-top: 15px;

  p {
    text-decoration: none;
    color: $text-color;
    padding: 15px;
  }
  span {
    padding: 15px 15px 0px 15px;
  }
}

.site-nav {
  z-index: 99999;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.page-nav {
  display: block;
  width: auto;
  overflow: hidden;
}

.page-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-nav .next {
  text-align: right;
}
